html,
body {
	min-width: 1122px;
	min-height: 1750px;
    margin: 0;
    padding: 0;
}

* {
	outline: 1px solid red;
}

body {
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	font-family: "PT Sans Narrow", Arial, sans-serif; 
	font-weight: bold;
	/* background: url("../img/barbershop-bg.jpg") no-repeat 50% 0px;
	background-size: 1122px auto; */
	text-transform: uppercase;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

.main-header {
	margin-bottom: 60px;
}

	.container {
		width: 940px;
		margin: 0 auto;
		padding: 0 10px;
	}

		.main-nav {
			min-height: 72px;
			width: 800px;
			float: left;
		}
			
			.main-nav-list {
				padding: 0;
				margin: 0;
				list-style: none;
				font-size: 0;
			}
				
				.main-nav-list li {
					display: inline-block;
					vertical-align: top;
				}
				
					.header-logo {
						width: 110px;
					}
					
					.main-nav-list a {
						font-size: 16px;
						text-decoration: none;
						height: 72px;
						line-height: 72px;
						display: block;
						padding: 0 20px;
						/* color: #fff; */
					}

		.user-block {
			float: right;
		}
			
			.user-block a {
				text-decoration: none;
				display: block;
				font-size: 16px;
				height: 72px;
				line-height: 72px;
				padding: 0 20px 0 54px;
			}
		
.main-content {
}
	.index-logo {
		width: 368px;
		height: 204px;
		margin: 0 auto;
		margin-bottom: 25px;
	}

	.features {
		margin-bottom: 65px;
	}

		.features-item {
			float: left;
			width: 300px;
			margin-right: 20px;
			min-height: 175px;
		}
		
			.features-name {
				text-align: center;
				font-size: 30px;
				/* color: #fff; */
			}
			
			.features-item p {
				padding: 65px 0 0 0;
				text-align: center;
			}

		.features-item:last-child {
			margin-right: 0px;
		}

	.index-content {
		padding: 55px 82px 45px 82px;
		margin-bottom: 34px;
	}

		.index-content-left {
			float: left;
			width: 380px;
			min-height: 330px;
		}
			.news-preview {
				list-style: none;
				padding: 0;
				margin: 0;
			}
			
				.news-preview p {
					padding: 0;
					margin: 0;
					width: 310px;
					line-height: 24px;
				}
				
				.news-preview time {
					font-weight: 400;
					text-transform: lowercase;
					display: inline-block;
					margin-bottom: 25px;
				}
				
			.index-content-address-phone {
				margin-bottom: 25px;
			}

			.index-content-working-hours {
				margin-bottom: 43px;
			}

		.index-content-right {
			float: right;
			width: 300px;
			min-height: 330px;
			margin-right: -5px;
		}
		
			.b-title-h2 {
				font-size: 30px;
				padding: 0;
				padding-bottom: 32px;
				margin: 0;
			}
				
				.title-photogallery {
					margin-left: 2px;
				}
				
				.gallery-content {
					margin: 6px 0 32px 0;
					padding: 7px;
				}
				
				.index-content-title {
					padding-bottom: 18px;
				}
				
				.select-date-time-text {
					margin-bottom: 29px;
				}
				
				.appointment-form input {
					width: 106px;
					height: 39px;
					padding: 0 15px;
					margin: 0 17px 19px 0;
				}
				
				.appointment-form input:nth-child(2n) {
					margin-right: 0;
				}
				
				.btn-send {
					margin-top: 14px;
				}
	
	.index-content-second {
		margin-bottom: 65px;
	}	
		
	.breadcrumbs {
		margin-bottom: 60px;
	}
		.breadcrumbs-list {
			list-style: none;
			padding: 0;
		}
	
	.product {
		
	}
	
		.product-gallery {
			width: 460px;
			float: left;
			
		}

			.item-gallery-preview {
				float: left;
				margin-right: 20px;
			}

			.item-gallery-preview:last-child {
				margin-right: 0px;
			}

		.product-description {
			float: right;
			width: 400px;
		}
			
			.set-of-product {
				list-style: none;
				padding: 0;
				margin: 0;
			}
		
	.filter {
		float: left;
		width: 220px;
	}	
	
		.filters-list {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	
	.selected-products {
		float: right;
		width: 700px;
	}
	
		.container-selected-product {
			width: 220px;
			float: left;
			min-height: 287px;
			margin-right: 20px;
		}

		.container-selected-product:nth-child(3n) {
			margin-right: 0px;
		}

		

.main-footer {
	padding-top: 55px;
	padding-bottom: 40px;
}

	.footer-contacts {
		float: left;
		width: 320px;
		margin-right: 60px;
	}

	.footer-social {
		float: left;
		width: 180px;
	}

	.footer-copyright {
		float: right;
		width: 180px;
	}


	

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
