html,
body {
    margin: 0;
    padding: 0;
	min-width: 1122px;
}

body {
	background: #070707 url("../img/barbershop-bg.jpg") no-repeat center top;
	background-size: 1122px auto;
	color: #000000;
	text-transform: uppercase; 
	font-weight: bold;
	font-size: 14px;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	line-height: 24px;
}

.inner-page {
	background: #f8f3f0 url("../img/bg_content-blog.png");
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

.sprite {
    display: block;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}

.sprite-checked {
    width: 12px;
    height: 12px;
    background-position: -5px -5px;
}

.sprite-locked {
    width: 15px;
    height: 17px;
    background-position: -5px -27px;
}

.sprite-login {
    width: 18px;
    height: 16px;
    background-position: -5px -54px;
}

.sprite-radio-checked {
    width: 8px;
    height: 8px;
    background-position: -5px -80px;
}

.sprite-user {
    width: 15px;
    height: 15px;
    background-position: -5px -276px;
}

.button {
	display: inline-block;
	height: 43px;
	border: none;
	background: #000;
	color: #fff;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 43px;
}

.button:hover,
.button:active {
	background: #663300;
}

.main-header {
	margin-bottom: 60px;
	background: #000;
}

	.container {
		margin: 0 auto;
		padding: 0 10px;
		width: 940px;
	}

		.main-nav {
			float: left;
			min-height: 72px;
			width: 800px;
		}
			
			.main-nav-list {
				margin: 0;
				padding: 0;
				list-style: none;
				font-size: 0;
			}
				
				.main-nav-list li {
					display: inline-block;
					vertical-align: top;
				}
				
					.main-nav-list .header-logo {
						width: 110px;
						height: 24px;
						line-height: 81px;
					}
					
					.main-nav-list .header-logo:hover {
						background: none;
					}
					
					.main-nav-list a {
						display: block;
						padding: 0 20px;
						height: 72px;
						color: #fff;
						text-decoration: none;
						font-size: 16px;
						line-height: 72px;
					}
					
					.main-nav-list a:hover,
					.main-nav-list a:active {
						background: #333;
					}
					
					.current {
						position: relative;
						display: block;
						padding: 0 20px;
						height: 72px;
						color: #fff;
						font-size: 16px;
						line-height: 72px;
					} 
					
					.current::after {
						position: absolute;
						right: 20px;
						bottom: 0;
						left: 20px;
						
						height: 5px;

						background-color: #ffffff;
						content: "";
					}

		.user-block {
			float: right;
		}
			
			.login {
				position: relative;
				display: block;
				padding: 0 20px 0 54px;
				height: 72px;
				color: #fff;
				text-decoration: none;
				font-size: 16px;
				line-height: 72px;
			}
			
			.login::before {
				position: absolute;
				top: 39%;
				left: 22%;
				width: 18px;
				height: 16px;
				background: url("../img/login.png") no-repeat;
				content: "";
				
			}
			
			.login:hover::before,
			.login:active::before {
				opacity: 0.3;
			}
			
			.login:hover,
			.login:active {
				background: #333;
			}
		
.main-content {
}
	.b-title-h1 {
		margin-bottom: 22px;
		color: #000;
	}
	
	.index-logo {
		margin: 0 auto;
		margin-bottom: 25px;
		width: 368px;
		height: 204px;
	}

	.features {
		margin-bottom: 65px;
	}

		.features-item {
			float: left;
			margin-right: 20px;
			min-height: 175px;
			width: 300px;
		}
		
			.features-name {
				position: relative;
				color: #fff;
				text-align: center;
				font-size: 30px;
			}
			
			.features-name::after {
				position: absolute;
				bottom: -45px;
				left: 47%;
				width: 20px;
				height: 20px;
				background: #fff;
				content: "";
				-webkit-transform: rotate(45deg);
				        transform: rotate(45deg);
			}
			
			.features-item p {
				padding: 65px 0 0 0;
				color: #fff;
				text-align: center;
			}

		.features-item:last-child {
			margin-right: 0px;
		}

	.index-content {
		margin-bottom: 34px;
		padding: 55px 82px 45px 82px;
		background: url("../img/vertical-line_content-blog.png") no-repeat center,
					#f8f5f2 url("../img/bg_content-blog.png");
	}

		.index-content-left {
			float: left;
			min-height: 330px;
			width: 380px;
		}
			.news-preview {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			
			.all-news-btn {
				margin-top: 5px;
				padding: 0 35px;
			}
			
				.news-preview p {
					margin: 0;
					padding: 0;
					width: 310px;
					line-height: 24px;
				}
				
				.news-preview time {
					display: inline-block;
					margin-bottom: 25px;
					text-transform: lowercase;
					font-weight: 400;
				}
				
			.index-content-address-phone {
				margin-bottom: 25px;
			}

			.index-content-working-hours {
				margin-bottom: 45px;
			}
			
			.btn-feedback,
			.btn-driveway {
				padding: 0 26px;
			}
			
			.btn-driveway {
				padding-left: 33px;
			}
			
			.btn-feedback {
				margin-left: 17px;
			}

		.index-content-right {
			float: right;
			margin-right: -5px;
			min-height: 330px;
			width: 300px;
		}
		
			.b-title-h2 {
				margin: 0;
				padding: 0;
				padding-bottom: 32px;
				font-size: 30px;
			}
				
				.title-photogallery {
					margin-left: 2px;
				}
				
				.gallery-content {
					margin: 6px 0 38px 0;
					padding: 7px;
					height: 164px;
					background: #fff;
				}
				
				.index-content-title {
					padding-bottom: 18px;
				}
				
				.select-date-time-text {
					margin-bottom: 29px;
				}
				
				.appointment-form input {
					margin: 0 17px 19px 0;
					padding: 0 15px;
					width: 106px;
					height: 39px;
					outline: none;
					border: 2px solid #000;
					line-height: 39px;
				}
				
				.appointment-form input:focus {
					border: 2px solid #663300;
				}
				
				.appointment-form input::-webkit-input-placeholder {
					color: #000;
					text-transform: uppercase;
				}
				
				.appointment-form input:nth-child(2n) {
					margin-right: 0;
				}
				
				.btn-send {
					margin-top: 14px;
					padding: 0 122px 0 114px;
				}
	
	.index-content-second {
		margin-bottom: 65px;
	}	
		
	.breadcrumbs {
		margin-bottom: 45px;
	}
		.breadcrumbs-list {
			padding: 0;
			list-style: none;
		}
		
			.breadcrumbs-list {
				font-size: 0;
			}
			
			.breadcrumbs-list li {
				display: inline-block;
				font-size: 14px;
			}
			
				.breadcrumbs-list a {
					position: relative;
					margin-right: 40px;
					color: #000;
					text-decoration: none;
				}
				
				.breadcrumbs-list-link a::before {
					position: absolute;
					top: 5px;
					right: -24px;
					width: 8px;
					height: 8px;
					background: #000;
					content: "";
					-webkit-transform: rotate(45deg);
					        transform: rotate(45deg);
				}
				
				.breadcrumbs-list-link:last-child a::before {
					display: none;
				}
				
				.breadcrumbs-list-link:last-child a {
					margin-right: 0;
					color: #aba9a7;
					cursor: default;
				}
				
				.b-title-h3 {
					margin: 0 0 28px 0;
					padding: 0;
					font-size: 24px;
				}
	
	.product {
		
	}
	
		.product-gallery {
			float: left;
			margin-bottom: 43px;
			width: 460px;
		}
		
			.product-gallery img {
				box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
			}
		
			.item-gallery-picture {
				margin: 3px 0 15px 0;
			}

			.item-gallery-preview {
				float: left;
				margin-right: 20px;
			}
			
			.gallery-prev,
			.gallery-next {
				padding: 0 50px;
			}
			
			.gallery-next {
				margin-left: 20px;
			}

			.item-gallery-preview:last-child {
				margin-right: 0;
			}

		.product-description {
			float: right;
			padding: 10px;
			width: 383px;
		}
			
			.set-of-product {
				margin: 0;
				padding: 0;
				list-style: none;
			}
			
			.existence {
				margin-top: 13px;
			}
				
				.caption-vendor-code {
					float: right;
					color: #aeaeae;
				}
				
			.product-description p {
				margin: 0;
				margin-top: 29px;
				padding: 0;
				line-height: 24px;
			}
			
				.product-price-and-buy {
					margin-top: 36px;
					margin-bottom: 65px;
				}
				
					.product-price-and-buy .price {
						margin-left: 0;
					}
					
					.product-price-and-buy  .button {
						width: 78px;
						text-align: center;
					}
					
			.set-of-product {
				margin-top: 30px;
			}		
				
				.set-of-product li {
					position: relative;
					margin-left: 25px;
				}
				
					.set-of-product li::before {
						position: absolute;
						top: 8px;
						left: -20px;
						width: 8px;
						height: 8px;
						background: #000;
						content: "";
						-webkit-transform: rotate(45deg);
						        transform: rotate(45deg);
					}
				
	.filter {
		float: left;
		width: 220px;
	}	
	
		.filters-list {
			margin: 0 0 52px 0;
			padding: 0;
			list-style: none;
		}
		
			.filters-list li {
				margin-bottom: 13px;
			}
			
				.filters-list-input {
					display: none;
					
				}
				
				.filters-list-label {
					position: relative;
					margin-left: 43px;
					cursor: pointer;
				}
				
				.filters-groups-list label:hover,
				.filters-list-label:hover {
					color: #663d15;
				}
				
				input:disabled + label ,
				input:disabled + label:hover {
					color: #adaba9;
					cursor: default;
				}
				
				input:disabled + label::before,
				input:disabled + label::after {
					opacity: 0.3;
				}
				
				.filters-list-input + label::before {
					position: absolute;
					top: 0;
					left: -42px;
					width: 16px;
					height: 16px;
					border: 2px solid #000;
					background: #f9f6f3;
					content: "";
				}
				
				.filters-list-input:checked + label::after {
					position: absolute;
					top: 4px;
					left: -38px;
					width: 12px;
					height: 12px;
					background: url("../img/sprite.png") no-repeat -5px -5px;
					content: "";
				}
			
			.filters-groups-list li {
				margin-bottom: 9px;
			}	
				
				.filters-groups-input {
					display: none;
				}
					
				.filters-groups-input + label {
					position: relative;
					display: inline-block;
					margin-left: 43px;
					vertical-align: top;
					cursor: pointer;
				}	
				
				.filters-groups-input + label::before {
					position: absolute;
					top: 2px;
					left: -42px;
					width: 16px;
					height: 16px;
					border: 2px solid #000;
					border-radius: 50%;
					background: #f9f6f3;
					content: "";
					cursor: pointer;
				}
				
				.filters-groups-input:checked + label::after {
					position: absolute;
					top: 8px;
					left: -36px;
					width: 8px;
					height: 8px;
					background: url("../img/sprite.png") no-repeat -5px -80px;
					content: "";
				}
				
		.btn-show {
			padding: 0 30px;
		}		
	
	.selected-products {
		float: right;
		width: 700px;
		font-size: 0;
	}
	
		.container-selected-product {
			display: inline-block;
			margin-right: 20px;
			margin-bottom: 21px;
			min-height: 287px;
			width: 220px;
			background: #fff;
			box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.1);
			vertical-align: top;
		}
		
			.container-selected-product figure {
				margin: 0;
			}

		.container-selected-product:nth-child(3n) {
			margin-right: 0px;
		}
			
			.selected-products-link {
				margin: 5px 40px 1px 17px;
				font-size: 14px;
			}
		
			.caption-groups-of-products {
				margin-top: -4px;
				margin-bottom: -7px;
				text-transform: none;
			}
			
			.caption-manufacturer {
				margin-bottom: 10px;
				padding-top: 1px;
			}
			
			.caption-groups-of-products a,
			.caption-manufacturer a {
				color: #000;
				text-decoration: none;
			}
			
			.price-and-buy {
				font-size: 14px;
			}

				.price {
					display: inline-block;
					margin-right: -3px;
					margin-left: 16px;
					width: 109px;
					height: 43px;
					background: #e5e5e5;
					vertical-align: top;
					text-align: center;
					line-height: 43px;
				}
				
				.btn-buy {
					width: 78px;
					text-align: center;
				}
			
	.pagination {
		margin-top: 25px;
		margin-bottom: 50px;
	}		
			
		.pagination	a {
			display:inline-block;
			margin-right: 7px;
			width: 43px;
			height: 43px;
			background: #000;
			color: #fff;
			vertical-align: top;
			text-align: center;
			text-decoration: none;
			font-size: 14px;
			line-height: 43px;
		}
		
		.pagination .selected:hover,
		.pagination .selected {
			background: #fff;
			color: #000;
			cursor: default;
		}

		.pagination a:hover {
			background: #663d15;
		}
		
		.price-list-h1 {
			margin: 0;
			margin-top: -10px;
			margin-bottom: 15px;
			padding: 0;

			font-size: 30px;
			line-height: 42px;
		}
		
		.price-list-container {
			margin-bottom: 75px;
		}
		
			.price-list-container h2 {
				margin-top: 60px;
				margin-bottom: 28px;

				font-size: 24px;
				line-height: 30px;
			}
			
			.price-list-container h2 + h3 {
				margin-top: 30px;
			}
			
			.big-heading {
				margin-top: 55px;
				margin-bottom: 60px;

				text-align: center;
			}
			
			.big-heading h2 {
				position: relative;
				z-index: 2;
				display: inline;
				margin: 0;
				padding: 0 25px;
				
				background: #f8f5f2;
				text-align: center;
				font-size: 48px;
				line-height: 48px;
			}
			
			.big-heading::after {
				position: relative;
				top: -25px;
				z-index: 1;

				display: block;

				border-bottom: 2px solid #000000;
				content: "";
			}
			
			.custom-list-1 {
				margin: 14px 0;
				padding: 0;

				list-style: none;
			}
			
				.custom-list-1 li {
					position: relative;

					margin-bottom: 12px;
					padding-left: 20px;
				}
				
				.custom-list-1 li::before {
					position: absolute;
					top: 8px;
					left: 0;

					width: 8px;
					height: 8px;

					background-color: #000000;
					content: "";
					-webkit-transform: rotate(45deg);
					        transform: rotate(45deg);
				}

			.prices-table {
				width: 100%;
				border-collapse: collapse;
			}
			
				.prices-table td {
					width: 50%;
				}
			
				.prices-table td {
					padding: 0 15px;
					height: 39px;
					border: 2px solid #000000;
					line-height: 40px;
				}
				
				.prices-table td:last-child {
					text-align: center;
				}
			
		.content-price-list {
			margin-top: -16px;
		}	
			
		.content-price-list p {
			margin: 14px 0;
		}
			
			.short-text {
				padding-right: 80px;
			}
		
		.inner-columns {
			margin: 60px 0;
		}
		
			.inner-column-left,
			.inner-column-right {
				width: 460px;
			}
			
			.inner-column-left {
				float: left;
			}

			.inner-column-right {
				float: right;
			}
			
			.inner-column-left *:first-child,
			.inner-column-right *:first-child {
				margin-top: 0;
			}
			
			.inner-column-left *:last-child,
			.inner-column-right *:last-child {
				margin-bottom: 0;
			}
			
.main-footer {
	padding-top: 55px;
	padding-bottom: 40px;
	background: #222 url("../img/bg_footer.png");
	color: #fff;
}

	.footer-contacts {
		float: left;
		margin-right: 60px;
		width: 320px;
	}
	
		.link-how-to-find-us {
			box-shadow: inset 0 -1px 0 0 #939393;
			color: #fff;
			text-decoration: none;
		}			

	.footer-social {
		float: left;
		min-width: 180px;
		font-size: 0;
	}
	
		.footer-social p {
			margin: 0;
			margin-bottom: 16px;
			padding: 0;
			text-align: center;
			font-size: 14px;
		}
		
		.social-btn {
			position: relative;
			display: inline-block;
			margin-right: 6px;
			width: 43px;
			height: 43px;
			background: #000;
		}
		
		.social-btn::before {
			position: absolute;
			top: 50%;
			left: 50%;
			background-image: url("../img/sprite.png");
			background-repeat: no-repeat;
			content: "";
			-webkit-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
		}
		
		.social-btn-vk {
			margin-left: 20px;
		}
		
		.social-btn-vk::before {
			width: 25px;
			height: 16px;
			background-position: -5px -224px;
		}
		
		.social-btn-fb:hover,
		.social-btn-vk:hover,
		.social-btn-inst:hover {
			background: #fff;
		}
		
		.social-btn-vk:hover::before {
			background-position: -5px -250px;
		}
		
		.social-btn-fb::before {
			width: 12px;
			height: 22px;
			background-position: -5px -98px;
		}
		
		.social-btn-fb:hover::before {
			background-position: -5px -130px;
		}
		
		.social-btn-inst::before {
			width: 21px;
			height: 21px;
			background-position: -5px -162px;
		}
		
		.social-btn-inst:hover::before {
			 background-position: -5px -193px;
		}

	.footer-copyright {
		float: right;
		width: 180px;
		text-align: right;
	}
	
		.footer-copyright p {
			margin: 0 0 16px 0;
			padding: 0;
			padding-right: 28px;
		}
		
			.btn-html-academy {
				padding: 0 18px;
				height: 43px;
			}
			
			.btn-html-academy:hover,
			.btn-html-academy:active {
				background: #fff;
				color: #000;
			}
			
	.modal-login {
		position: absolute;
		top: 120px;
		left: 50%;
		display: none;
		margin-left: -230px;
		padding: 45px 80px;
		width: 300px;
		background: #f8f5f2 url("../img/bg_content-blog.png");
		box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
		color: #000;
	}
	
	.modal-login-show {
		display: block;
		-webkit-animation: bounce 0.6s;
		        animation: bounce 0.6s;
	}
	
	.modal-error {
		-webkit-animation: shake 0.6s;
		        animation: shake 0.6s;
	}

	.modal-login-close {
		position: absolute;
		top: 8px;
		right: -31px;
		width: 22px;
		height: 22px;
		outline: 0;

		border: 0;
		background: none;

		font-size: 0;
		cursor: pointer;
	}	
	
		.modal-login-close::before,
		.modal-login-close::after {
			position: absolute;
			
			top: 10px;
			left: 2px;

			width: 21px;
			height: 3px;
			border-radius: 1px;
			background-color: #d0d0d0;
			content: "";
		}
		
		.modal-login-close::before {
			-webkit-transform: rotate(45deg);
			        transform: rotate(45deg);
		}

		.modal-login-close::after {
			-webkit-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
		
		.modal-login-h2 {
			margin: 0;
			margin-bottom: 16px;

			font-size: 30px;
			line-height: 42px;
		}
		
		.modal-login p {
			margin: 0;
		}
		
		.modal-login-form {
			margin: 10px 0 10px 0;
		}
		
		.input-user,
		.input-password {
			margin: 0;
			margin-bottom: 7px;
			padding-right: 40px;
			padding-left: 20px;
			width: 236px;
			height: 39px;
			outline: none;
			border: 2px solid #000000;
			background-color: #f9f6f3;
			color: #000;
			font-size: 14px;
			line-height: 39px;
		}
		
		.input-user::-webkit-input-placeholder,
		.input-password::-webkit-input-placeholder {
			color: #000;
			text-transform: uppercase;
		}
		
		.input-password {
			margin-bottom: 15px;
		}
		
		.input-user:focus ,
		.input-password:focus {
			border-color: #663d15;
		}
		
		.restore {
			float: right;

			color: #000000;
		}
		
		.restore:hover {
			color: #663d15;
		}
		
		.modal-login-btn {
			margin-top: 15px;
			width: 100%;
		}
		
			.login-checkbox {
				position: relative;
				padding-left: 30px;
				cursor: pointer;
			}
			
			.login-checkbox:hover {
				color: #663d15;
			}
				
				.login-checkbox input[type="checkbox"] {
					display: none;
				}
				
				.login-checkbox input[type="checkbox"] + .checkbox-indicator {
					position: absolute;
					top: -3px;
					left: 0;

					width: 16px;
					height: 16px;

					border: 2px solid #000000;
				}
				
				.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
					position: absolute;
					top: 2px;
					left: 2px;
					width: 12px;
					height: 12px;
					background: url("../img/sprite.png") no-repeat -5px -5px;
					content: "";
				}
		
		.content-map {
			position: fixed;
			top: 50%;
			left: 50%;
			display: none;
			margin-top: -280px;
			margin-left: -390px;
			
			width: 766px;
			height: 561px;
			border: 7px solid white;

			background: #e9e5dc url("../img/map.jpg");
			box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
		}
		
		.content-map-show {
			display: block;
		}
		
		.content-map-close {
			position: absolute;
			top: -10px;
			right: -35px;
			width: 22px;
			height: 22px;
			outline: 0;

			border: 0;
			background: none;

			font-size: 0;
			cursor: pointer;
		}
		
		.content-map-close::before,
		.content-map-close::after {
			position: absolute;
			
			top: 10px;
			left: 2px;

			width: 21px;
			height: 3px;
			border-radius: 1px;
			background-color: #cfcfcf;
			content: "";
		}
		
		.content-map-close::before {
			-webkit-transform: rotate(45deg);
			        transform: rotate(45deg);
		}

		.content-map-close::after {
			-webkit-transform: rotate(-45deg);
			        transform: rotate(-45deg);
		}
		
		.content-map iframe {
			border: 0;
		}
		
@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}
	
	70% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}
	
	90% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
		
@keyframes bounce {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}
	
	70% {
		-webkit-transform: translateY(30px);
		        transform: translateY(30px);
	}
	
	90% {
		-webkit-transform: translateY(-10px);
		        transform: translateY(-10px);
	}
	
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	0% 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}

@keyframes shake {
	0% 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
}		
		
.clearfix::after {
	display: block;
	clear: both;
	content: "";
}